@page "/"
@page "/search/{searchText}"
@page "/{categoryUrl}"
@inject IProductService ProductService

<PageTitle>我的商店</PageTitle>

@if (SearchText != null) {
    <h3>"@SearchText"的搜索结果</h3>
}else if (CategoryUrl == null) {
    <h1 style="text-align: center; margin-bottom:20px;">最受欢迎的商品</h1>
}

<ProductList/>

@code{

    [Parameter]
    public string? CategoryUrl { get; set; } = null;

    [Parameter]
    public string? SearchText { get; set; } = null;

    protected override async Task OnParametersSetAsync() {
        if (SearchText != null) {
            await ProductService.SearchProducts(SearchText);
        }
        else if(CategoryUrl!=null){
            await ProductService.GetProductsByCategory(CategoryUrl);
        }
        else {
            await ProductService.GetPopularProducts();
        }
    }

}